.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #D4CAFE;
  border-radius: 8px;
  padding: 30px;
  max-width: 350px;
  width: 100%;
  background-color: #FCFCFC;
  }
  
  .appName {
    margin-bottom: 10px;
    color: #654DC4;
    font-size: larger;
  }
  
  .loginText1 {
    margin-top: 10px;
    font-weight: 300;
    color: #654DC4;
    width: 100%;
  }
  .loginForm{
    width: 100%;
  }
  .loginFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #D4CAFE;
    padding: 20px;
    border-radius: 8px;
    width: 100%; 
    background-color: #FCFCFC;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #D4CAFE;
    border-radius: 4px;
    margin: 0 auto;
    outline: none;
  }
  
  .signInButton {
    background-color: #654DC4; 
    color: #FCFCFC; 
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; 
    margin-bottom: 15px;
  }
  
  .signupButtonContainer {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  
  .signupButton1{
    background:none;
    border: none;
    color: #654DC4; 
    cursor: pointer;
    font-size: medium;
  }
  
  .errordontshow{
    display: none;
  }
  .errorshow{
    font-size: medium;
    color: red;
    transition: display 1s ease;
  }